<div class="bg-secondary" style="height: 400px;">
  <div id="header-div" class="container text-center my-auto">
    <p class="h1 text-white mb-4" style="padding-top: 100px;">Michael Holley</p>
    <p class="h3 text-white my-4 mx-3">Auszubildender zum Fachinformatiker für Anwendungsentwicklung</p>
    <p class="h4 my-4">
      <a href="https://www.xing.com/profile/Michael_Holley/cv" target="_blank" title="Xing-Profil">
        <i class="fab fa-xing fa-lg mx-2"></i>
      </a>
      <a href="https://github.com/MichaelHolley" target="_blank" title="GitHub-Profil">
        <i class="fab fa-github fa-lg mx-2"></i>
      </a>
      <a href="contact.html" title="Kontakt">
        <i class="fas fa-envelope fa-lg mx-2"></i>
      </a>
    </p>
  </div>
</div>

<div id="header-separator"></div>

<nav class="navbar navbar-dark navbar-expand-sm bg-dark justify-content-center">
  <ul class="navbar-nav">
    <li class="nav-item mx-2" data-toggle="tooltip">
      <a class="nav-link h5" href="index.html">Über mich</a>
    </li>
    <li class="nav-item mx-2">
      <a class="nav-link h5" href="projects.html">Projekte</a>
    </li>
    <li class="nav-item mx-2">
      <a class="nav-link h5" href="cv.html">Lebenslauf</a>
    </li>
  </ul>
</nav>