@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background-color: theme('colors.mhBlack');
}

body {
	color: theme('colors.mhWhite');
	font-family: 'Raleway', sans-serif;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body::-webkit-scrollbar {
	display: none;
}
