@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background-color: theme('colors.black');
}

body {
	color: theme('colors.white');
	font-family: 'Raleway', sans-serif;
}

::selection {
	background: theme('colors.tertiary.DEFAULT');
}
